.board .board-wrapper {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.board .board-profile-wrapper {
    padding: 2.5%;
    width: 15%;
    color: white;
    font-family: 'Roboto bold', sans-serif;
    text-align: center;
}

.board .board-profile-img {
    width: 75%;
    padding-top: 75%;
    border-radius: 50%;
    margin: auto;
}

.board .board-profile-title {
    width: 120%;
    margin-left: -10%;
    padding-top: 7px;
    font-size: 1.25vw;
}

.board .board-profile-name {
    font-size: 1.39vw;
    font-weight: 700;
}

.board .board-profile-major {
    font-size: 0.97vw;
    font-style: italic;
    color: #e6e6e6;
}

@media (max-width: 840px) {
    .board .board-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .board .board-profile-wrapper {
        padding: 10px 100px 10px 100px;
        text-align: left;
        width: initial;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .board .board-profile-img {
        width: 80px;
        padding-top: 80px;
        border-radius: 50%;
        margin: 0;
        display: inline-block;
    }
    
    .board .board-profile-text-wrapper {
        display: inline-block;
        margin-left: 20px;
        width: 220px;
    }

    .board .board-profile-title {
        font-size: 16px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .board .board-profile-name {
        font-size: 20px;
    }
    
    .board .board-profile-major {
        font-size: 14px;
        width: 220px;
    }
}