.home .about-panel {
    width: 100%;
}

.home .text-panel {
    width: calc(40% - 120px);
    display: table-cell !important;
}

.home .about-img-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 60%;
    height: 100%;
    background: url("/images/2020_broomball2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
}

@media (max-width: 840px) {
    .home .text-panel {
        width: calc(100% - 120px);
        display: block;
    }
    .home .about-img-wrapper {
        display: block;
        width: 100%;
        height: 0;
        padding-top: 50%;
    }
}