.prospectives_old #first-text-panel {
    padding-bottom: 0px;
}

@media (max-width: 840px) {
    .prospectives_old .text-panel-content {
        font-size: calc(3px + 1.5vw);
        margin-top: calc(-2px - 0.5vw);
    }

    .prospectives_old #second-text-panel {
        padding-top: 30px;
        padding-bottom: 10px;
    }
}