.prospectives .text-panel {
    padding-top: 0px;
}

.prospectives #we-are-rss-panel {
    padding-top: 60px;
}

.prospectives .osp_description {
    float: left;
    width: 50%;
    padding-top: 3px;
    font-size: calc(8px + 0.7vw);
    font-style: italic;
}

.prospectives .itinerary_wrapper {
    float: right;
    width: calc(50% - 8px);
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

.prospectives #osp_panel .text-panel-content {
    padding-top: 0px;
}

@media (max-width: 840px) {
    .prospectives #we-are-rss-panel .text-panel-content {
        font-size: calc(3px + 1.5vw);
    }
}
.prospectives #we-are-rss-panel .text-panel-content {
    padding-top: 0px;
    
}
.prospectives .row {
    display: flex;
}
.prospectives .benefits {
    float: left;
    width: 70%;
    padding-right: 1%;
    padding-top: 15px;
}

.prospectives .letter_wrapper {
    float: right;
    width: calc(30% - 8px);
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding-top: 15px;
    padding-right: 1%;
    padding-left: 1%;
}