.prospectives .text-panel {
    padding-top: 0px;
}

.prospectives #we-are-rss-panel {
    padding-top: 60px;
}

.prospectives .osp_description {
    float: left;
    width: 50%;
    padding-top: 3px;
    font-size: calc(8px + 0.7vw);
    font-style: italic;
}

.prospectives #we-are-rss-panel .text-panel-content {
    padding-top: 0px;

}
.prospectives .we_are_rss_wrapper {
    display: flex;
}
.prospectives .benefits_list {
    float: left;
    width: 70%;
    padding-right: 1%;
    padding-top: 15px;
}

.prospectives .letter_wrapper {
    float: right;
    width: calc(30% - 8px);
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding-top: 15px;
    padding-right: 1%;
    padding-left: 1%;
} 

.prospectives .welcome_header {
    padding: 40px;
    padding-bottom: 0px;
    background-color: white;
    font-family: "Kollektif";
    color: black;
    font-size: calc(20px + 1.1vw);
    line-height: calc(24px + 1.2vw);
    border-bottom: 4px solid white;
    text-align: center;
    margin: 0px auto;
}

.prospectives .welcome_wrapper {
    margin:0px auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
}

.prospectives .welcome_to_osp{
    padding: 40px;
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    background-color:white;
    font-family: "Roboto", sans-serif;
    font-size: calc(10px + 0.5vw);
    color: black;
}

.prospectives .welcome_to_osp_image{
    background-color: black;
    margin: auto;
    width: 100%;
}

.prospectives .osp_image{
    background-color: black;
    padding-left: 10%;
    margin-left: auto;
    margin-right: auto;
     max-width: 80%;
     max-height: 80%;
}

.prospectives .itinerary_wrapper {
    float: right;
    width: calc(50% - 8px);
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

.prospectives #osp_panel .text-panel-content {
    padding-top: 0;
}

@media (max-width: 840px) {
    .prospectives #we-are-rss-panel .text-panel-content {
        font-size: calc(3px + 1.5vw);
        margin-top: calc(-2px - 0.5vw);
    }
}
