.item-name {
    font-family: "Kollektif";
    color: white;
    width: 100%;
    border-bottom: 2px solid white;
    line-height: calc(24px + 1.2vw);
    text-align: left;
}

.size-circle {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: rgb(252, 252, 252);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

.size-text {
    margin: auto;
    font-size: 14px;
}

.item-card-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #000000;
    padding: 10px;
    gap: 5px 5px;
}

.item-card {
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid rgba(13, 109, 193, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item-img {
    width: 20%;
    height: 20%;
    float: left;
    padding-top: 1rem;
}

.size-circle {
    padding-top: 1rem;
}

.price {
    float: right
}

.num-avail {
    color:white
}