.banner {
    display: flex;
    width: 100%;
    min-height: 500px;
    height: 40vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: row wrap;
    font-family: "Kollektif";
    color: white;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.banner-main-heading {
    opacity: 0.8;
    font-size: 14vw;
    line-height: 11vw;
}

.banner-sub-heading {
    opacity: 0.8;
    font-size: 3.5vw;
}