.scholarship-benefits-wrapper {
    padding-top: 15px;
    text-align: center;
    color: white;
}

.scholarship-benefit {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding-left: 45px;
    padding-right: 45px;
}

.benefit-banner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(30px + 10vw);
}

.benefit-banner-img {
    height: 100%;
}

.benefit-banner-text {
    position: absolute;
    min-width: 80%;
}

.benefit-banner-text-heading {
    font-family: "Kollektif-Bold";
    font-size: calc(10px + 3vw);
    line-height: calc(10px + 2vw);
}

.benefit-banner-text-subheading {
    font-family: "Kollektif";
    font-size: calc(10px + 0.8vw);
}

.benefit-banner-text-smallheading {
    font-family: "Kollektif";
    font-size: calc(20px + 0.8vw);
    line-height: calc(17px + 0.8vw);
}

.benefit-banner-desc {
    font-size: calc(6px + 0.8vw);
}

@media (max-width: 840px) {
    .scholarship-benefit {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 30px 0;
        margin: 0;
    }

    .benefit-banner {
        width: 35%;
        height: 18.6vw;
    }

    .benefit-banner-desc {
        width: 65%;
        font-size: calc(8px + 0.5vw);
    }
    
    .benefit-banner-img {
        height: 100%;
    }
    
    .benefit-banner-text {
        position: absolute;
        min-width: 80%;
    }
    
    .benefit-banner-text-heading {
        font-size: 5.7vw;
        line-height: 4.2vw;
    }
    
    .benefit-banner-text-subheading {
        font-size: 2.4vw;
    }
    
    .benefit-banner-text-smallheading {
        font-size: 3.6vw;
        line-height: 3.24vw;
    }

}

/* for prospectives... */
@media (min-width: 900px) and (max-width: 1220px) {
    .prospectives .scholarship-benefit {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 7px 0;
        margin: 0;
    }

    .prospectives .benefit-banner {
        width: 30%;
        height: 12.4vw;
    }

    .prospectives .benefit-banner-desc {
        width: 70%;
    }
    
    .prospectives .benefit-banner-img {
        height: 100%;
    }
    
    .prospectives .benefit-banner-text {
        position: absolute;
        min-width: 80%;
    }
    
    .prospectives .benefit-banner-text-heading {
        font-size: 3.8vw;
        line-height: 2.8vw;
    }
    
    .prospectives .benefit-banner-text-subheading {
        font-size: 1.6vw;
    }
    
    .prospectives .benefit-banner-text-smallheading {
        font-size: 2.4vw;
        line-height: 2.16vw;
    }
    
    .prospectives .benefit-banner-desc {
        font-size: calc(10px + 0.5vw);
    }
}
